<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-GB' }}">

  <head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if site.google_analytics.active %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics.id }}"></script>
    <script>
      /* global dataLayer */
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics.id }}');
    </script>
    {% endif %}

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.5/4/flatly/bootstrap.css" media="screen">
    <!-- Custom CSS -->
    <!-- customisations of vanilla bootstrap by the bootswatch variant we're using (output from Bootswatch) -->
    <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.5/_assets/css/custom.min.css">
    <link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | relative_url }}">
<!--
    /**
    * @license
    * MyFonts Webfont Build ID 3596617, 2018-06-14T06:54:30-0400
    * 
    * The fonts listed in this notice are subject to the End User License
    * Agreement(s) entered into by the website owner. All other parties are 
    * explicitly restricted from using the Licensed Webfonts(s).
    * 
    * You may obtain a valid license at the URLs below.
    * 
    * Webfont: BoosterNextFY-Thin by Black Foundry
    * URL: https://www.myfonts.com/fonts/black-foundry/booster-next-fy/thin/
    * 
    * Webfont: BoosterNextFY-Regular by Black Foundry
    * URL: https://www.myfonts.com/fonts/black-foundry/booster-next-fy/regular/
    * 
    * Webfont: BoosterNextFY-Medium by Black Foundry
    * URL: https://www.myfonts.com/fonts/black-foundry/booster-next-fy/medium/
    * 
    * Webfont: BoosterNextFY-Black by Black Foundry
    * URL: https://www.myfonts.com/fonts/black-foundry/booster-next-fy/black/
    * 
    * Webfont: BoosterNextFY-Light by Black Foundry
    * URL: https://www.myfonts.com/fonts/black-foundry/booster-next-fy/light/
    * 
    * Webfont: BoosterNextFY-Bold by Black Foundry
    * URL: https://www.myfonts.com/fonts/black-foundry/booster-next-fy/bold/
    * 
    * 
    * License: https://www.myfonts.com/viewlicense?type=web&buildid=3596617
    * Licensed pageviews: 10,000
    * Webfonts copyright: Copyright (c) 2013 by FONTYOU. All rights reserved.
    * www.fontyou.com
    * 
    * © 2018 MyFonts Inc
    */

    -->
    <link rel="stylesheet" type="text/css" href="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.5/_assets/css/MyFontsWebfontsKit.css">
    <link rel="stylesheet" type="text/css" href="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.5/_assets/css/webfonts.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- local customisations --> 
    <link rel="stylesheet" href="{{ 'assets/css/codered-front.min.css' | relative_url }}">

    {% if site.use_cacheBust %}
      {% assign cacheBust = site.time | date:'?v=%s' %}
    {% else %}
      {% assign cacheBust = '' %}
    {% endif %}
    <!-- local customisations --> 
    <link rel="stylesheet" href="{{ 'assets/css/custom.css' | relative_url | append: cacheBust }}">

    {% comment %}{% include parse_jasmin_news.html %}{% endcomment %}

  </head>

  <body id="body">
    <div id="root" class="d-flex flex-column sticky-footer-wrapper min-vh-100">

  <!-- navbar --> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
      <div class="container">
        <a href="{{ site.url }}{{ site.baseurl }}/" class="navbar-brand">
          <img src="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.5/_assets/img/jasmin_logo_white_greendots_h50.png" alt="JASMIN logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            {% assign links = site.data.navigation %}
              {% for link in links %}
                  {% assign class = nil %}
                  {% if page.url contains link.url %}
                      {% assign class = 'active' %}
                  {% endif %}
                  {% if link.sublinks %}
                      <li class="nav-item dropdown {{ class }}">
                          <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                          <div class="dropdown-menu">
                              {% for sublink in link.sublinks %}
                                  {% if sublink.title == 'separator' %}
                                      <div class="dropdown-divider"></div>
                                  {% else %}
                                      
                                          <a class="dropdown-item" href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                      
                                  {% endif %}
                              {% endfor %}
                          </div>
                      </li>
                  {% else %}
                      <li class="nav-item {{ class }}">
                          <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                      </li>
                  {% endif %}
              {% endfor %}

          </ul>
        </div>
      </div>
    </nav>

    <main class="flex-fill">

      <div id="content">
        {{ content }}
      </div>
    </main>

    <!-- jasmin footer -->
    <footer class="site-footer border-top pt-3 px-3 mt-3">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col">
            <h2 class="footer-heading">Useful links</h2>
              <ul class="footer-list">
                <li><a href="https://www.jasmin.ac.uk" target="_blank">JASMIN</a></li>
                <li><a href="https://www.ceda.ac.uk" target="_blank">CEDA</a></li>
                <li><a href="https://accounts.jasmin.ac.uk" target="_blank">Accounts Portal</a></li>
                <li><a href="https://cloud.jasmin.ac.uk" target="_blank">Cloud Portal</a></li>
                <li><a href="https://projects.jasmin.ac.uk" target="_blank">Projects Portal</a></li>
                <li><a href="https://notebooks.jasmin.ac.uk" target="_blank">Notebook Service</a></li>
              </ul>
          </div>

          <div class="col">
            <h2 class="footer-heading">Contact us</h2>
            <ul class="footer-list">
              <li><a href="https://help.jasmin.ac.uk" target="_blank"><i class="mr-2 fas fa-fw fa-bookmark"></i>Documentation</a></li>
              <li><a href="{{ site.url }}{{ site.baseurl }}/help/contact/" target="_blank"><i class="mr-2 fas fa-fw fa-life-ring"></i>Helpdesk</a></li>
              <li><a href="https://www.youtube.com/channel/UCYjSH2ET9nLMhDcXa5y2OMg" target="_blank"><i class="mr-2 fab fa-fw fa-youtube"></i>YouTube</a></li>
            </ul>  
          </div>
      
          <div class="text-center col-md-5">
            <p class="mb-0"><strong>JASMIN is operated by the Science and Technology Facilities Council on behalf of the Natural Environment Research Council.</strong></p>
            <a href="https://stfc.ukri.org" title="STFC" target="_blank">
              <img src="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.5/_assets/img/UKRI_STF_Council-Logo_Horiz-RGB_h80.png" title="STFC UKRI logo" alt="STFC UKRI logo" height="80">
            </a>
            <a href="https://nerc.ukri.org/" title="NERC" target="_blank">
              <img src="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.5/_assets/img/UKRI_NER_Council-Logo_Horiz-RGB_h80.png" title="NERC UKRI logo" alt="NERC UKRI logo" height="80">
            </a>
          </div>

        </div>

        <div class="row">
          <div class="py-3 col">
            <ul class="d-inline-block list-inline mb-0">
              <li class="list-inline-item mr-3">© Copyright 2020 STFC</li>
              <li class="list-inline-item mr-3"><a href="https://accounts.jasmin.ac.uk/account/accessibility/" target="_blank">Accessibility</a></li>
              <li class="list-inline-item mr-3"><a href="https://accounts.jasmin.ac.uk/account/support/" target="_blank">Support</a></li>
              <li class="list-inline-item mr-3"><a href="https://accounts.jasmin.ac.uk/account/privacy/" target="_blank">Privacy</a></li>
              <li class="list-inline-item"><a href="https://accounts.jasmin.ac.uk/account/conditions/" target="_blank">Terms and Conditions</a></li>
            </ul>
          </div>
        </div>

      </div>
    </footer>

    <!-- omit loading jquery here for news page -->
    <script src="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.5/_vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.5/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.5/_assets/js/custom.js"></script>

    </div> <!-- root -->

    <!-- JASMIN help beacon --> 
    <script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
    <script type="text/javascript">window.Beacon('init', 'a108cc24-88df-4d59-9e84-17ba328fc105')</script>
  </body>
</html>