---
layout: base_jasmin
---
{% include parse_jasmin_news_ticker.html %}

<div class="alert alert-primary alert-dismissable fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </button>
        <span class="small" style="color: #6683B7;">JASMIN latest from <a href="https://www.ceda.ac.uk/news/" target="_blank" style="color: inherit;">CEDA news </a></span>
        <div id="divFeed"></div>
</div>

<div class="block-hero">
    <div class="hero-bg" style="background-image:url( {{ page.hero_background_image | relative_url }} );">
    <div class="hero-fg" style="">
        <div class="container">
            <div class="row">
                <div  class="col-md">
                    <h2>{{ page.hero_title }}</h2>
                    <h4>{{ page.hero_tagline }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% if page.boxes %}
    <div class="block-cardgrid">
        <div class="container-fluid">
            <div class="card-deck">
                {% for box in page.boxes %}
                <div class="card mb-3">
                    <img class="card-img-top w-100" src="{{ box.background_image }}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{box.title}}</h5>
                        <div class="card-text">
                            <p>{{box.leader}}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{box.url | relative_url}}" title="Go" class="btn btn-secondary stretched-link">Go</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{{ content }}
